<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>This is the home of my website</h1>
  <p>the will be a list of the web pages down there if i can manage to make it work.</p>

  <a href="http://localhost:8080/urls">this is where you can see all urls</a>
  <a href="http://localhost:8080/urls/:shortURL">that is for you to pick one specific tinyurl(i think you have to put it in the url at the end but im not done with that part so im not sure).</a>

</body>
</html>