<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/_header') %>
  <title>Home</title>
</head>
<body>
  <h1>This is the home of my website</h1>
  <p>the will be a list of the web pages down there if i can manage to make it work.</p>
  <p>they gave it in the headers so look up!</p>
</body>
</html>